# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Environment / Secrets
.env
*.env
!.env.example

# Audio test files
*.wav

# Logs & cache
*.log
.cache/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
